<vdr-card title="Orders" *ngIf="currentLocationFetched">
    <div class="flex" *ngIf="dateSelection$ | async as selection">
        <button class="ml-1 button-small" [class.active]="selection.date === yesterday" (click)="dateSelection$.next({timeframe: 'day', date: yesterday})">
            {{ 'dashboard.yesterday' | translate }}
        </button>
        <button class="ml-1 button-small" [class.active]="selection.date === today" (click)="dateSelection$.next({timeframe: 'day', date: today})">
            {{ 'dashboard.today' | translate }}
        </button>
        <button class="ml-1 button-small" [class.active]="selection.date === todayPlus1" (click)="dateSelection$.next({timeframe: 'day', date: todayPlus1})">
            Tomorrow
        </button>
        <button class="ml-1 button-small" [class.active]="selection.date === todayPlus2" (click)="dateSelection$.next({timeframe: 'day', date: todayPlus2})">
            {{ format(todayPlus2) }}
        </button>
        <button class="ml-1 button-small" [class.active]="selection.date === todayPlus3" (click)="dateSelection$.next({timeframe: 'day', date: todayPlus3})">
            {{ format(todayPlus3) }}
        </button>
        <button class="ml-1 button-small" [class.active]="selection.date === todayPlus4" (click)="dateSelection$.next({timeframe: 'day', date: todayPlus4})">
            {{ format(todayPlus4) }}
        </button>
        <button class="ml-1 button-small" [class.active]="selection.date === todayPlus5" (click)="dateSelection$.next({timeframe: 'day', date: todayPlus5})">
            {{ format(todayPlus5) }}
        </button>
    </div>
    <div class="flex">
        <button class="button-small" [class.active]="!(deliveryTypeSelection$ | async)" (click)="deliveryTypeSelection$.next(false)">
            Collection
        </button>
        <button class="ml-1 button-small" [class.active]="deliveryTypeSelection$ | async" (click)="deliveryTypeSelection$.next(true)">
            Delivery
        </button>
        <button class="delivery-route-button  button-small" (click)="openDeliveryRoute()" *ngIf="(latestOrders$ | async)?.orders?.length && ((dateSelection$ | async).date === today) && (deliveryTypeSelection$ | async)">Open delivery route</button>
    </div>
    <table *ngIf="latestOrders$">
        <tbody>
                <tr *ngFor="let order of (latestOrders$ | async)?.orders">
                    <td>
                        <a class="button-ghost" [routerLink]="order.state === 'Draft' ? ['../../orders/draft', order.id] : ['../../orders', order.id]">
                            <span>{{ order.code }}</span>
                            <clr-icon shape="arrow right"></clr-icon>
                        </a>
                    </td>
                    <td>
                        <vdr-order-state-label [state]="order.state"></vdr-order-state-label>
                    </td>
                </tr>
        </tbody>
    </table>
</vdr-card>